@import "@fontsource/newsreader/400.css";
@import "@fontsource/newsreader/500.css";
@import "@fontsource/newsreader/600.css";
@import "@fontsource/newsreader/700.css";
@import "@fontsource/newsreader/800.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-newsreader: "Newsreader", serif;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-newsreader;
  }
}

@layer components {
  .input-number-hide-arrows::-webkit-outer-spin-button,
  .input-number-hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input-number-hide-arrows {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
